<!-- Hobbies Start-->
<section class="tc-hobbies sec-spacer sec-color">
  <div class="uk-container-center uk-container">
    <div class="uk-grid" data-uk-margin="">
      <div class="uk-width-1-3@m">
        <div class="title1">
          <span>07</span>
          <h3>Favorite Hobbies</h3>
        </div>
      </div>
      <div class="uk-width-2-3@m">
        <ul class="hobbies-inner uk-text-right">
          <li><a href="#"><i uk-icon="heart"></i><span>Informatique</span></a></li>
          <li><a href="#"><i uk-icon="desktop"></i><span>Hardware</span></a></li>
          <li><a href="#"><i uk-icon="happy"></i><span>Jeux vidéo</span></a></li>
          <li><a href="#"><i uk-icon="credit-card"></i><span>Cinématograpgie</span></a></li>
          <li><a href="#"><i uk-icon="play-circle"></i><span>Dessin</span></a></li>
          <li><a href="#"><i uk-icon="play-circle"></i><span>Fantastique</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Hobbies End-->
