<!-- Footer Start -->
<footer class="tc-footer bg-pattern1">
  <div class="uk-container uk-container-center">
    <div class="uk-grid">
      <div class="uk-width-1-2@m">
        <div class="copyright">
          COPYRIGHT © 2017 Resume
        </div>
      </div>
      <div class="uk-width-1-2@m">
        <ul class="social-share uk-margin-remove uk-align-right@m">
          <li><a href="#"><i uk-icon="facebook"></i></a></li>
          <li><a href="#"><i uk-icon="twitter"></i></a></li>
          <li><a href="#"><i uk-icon="github"></i></a></li>
          <li><a href="#"><i uk-icon="linkedin"></i></a></li>
        </ul>
        <a href="#tc-slider" class="tc-totopscroll" title="Go Top" data-uk-smooth-scroll>
          <i uk-icon="chevron-up"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
<!-- Footer End -->
