<!-- Footer Start -->
<footer class="tc-footer bg-pattern1 sec-color">
  <div class="uk-container uk-container-center">
    <div class="uk-grid">
      <div class="uk-width-1-2@m">
        <div class="copyright">
          COPYRIGHT © 2018
        </div>
      </div>
      <div class="uk-width-1-2@m">
        <ul class="social-share uk-margin-remove uk-align-right@m">
          <li><a href="https://www.facebook.com/profile.php?id=100010900654988" [target]="blank"><i uk-icon="facebook"></i></a></li>
          <li><a href="https://twitter.com/hainabe" [target]="blank"><i uk-icon="twitter"></i></a></li>
          <li><a href="https://github.com/hainabe" [target]="blank"><i uk-icon="github"></i></a></li>
          <li><a href="https://www.linkedin.com/in/hainabe" [target]="blank"><i uk-icon="linkedin"></i></a></li>
        </ul>
        <a href="#tc-main" class="tc-totopscroll" title="SCROLL UP" uk-scroll>
          <i uk-icon="chevron-up"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
<!-- Footer End -->
