<!-- About Start-->
<section class="tc-about sec-spacer">
  <div class="uk-container-center uk-container">
    <div class="uk-grid" data-uk-margin="">
      <div class="uk-width-1-5@m">
        <div class="resume-photo">
          <img src="/assets/img/it-me.jpg" alt="hainabe">
        </div>
      </div>
      <div class="uk-width-1-2@m">
        <div class="spacer2"></div>
        <div class="about-info">
          <div class="rs-name">
            <h3>Gabriel DE SOUSA</h3>
          </div>
          <div class="rs-title">
            <p>Consultant technique / Développeur Salesforce</p>
          </div>
        </div>
      </div>
      <div class="uk-width-auto@m">
        <div class="spacer2"></div>
        <ul class="contact">
          <li>
            <i uk-icon="mail"></i>
            <a href="#">gsds.sousa@gmail.com</a>
          </li>
          <li>
            <i uk-icon="phone"></i>
            <span>+33 6 58 65 06 38</span>
          </li>
          <li>
            <i uk-icon="github"></i>
            <a href="https://github.com/hainabe" target="_blank"><span>hainabe</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- About End-->
