<!-- Work Start-->
<section class="tc-work sec-spacer">
  <div class="uk-container-center uk-container">
    <div class="uk-grid" data-uk-margin="">
      <div class="uk-width-1-3@m">
        <div class="title1">
          <span>02</span>
          <h3>Recent Work</h3>
        </div>
      </div>
      <div class="uk-width-2-3@m">
        <div class="uk-grid-width-1-2@m" data-uk-grid="{gutter: 20}">
          <a href="https://github.com/hainabe/my-cv" [target]="blank">
            <div class="work-item">
              <a href="../../assets/img/gab.jpg" data-uk-lightbox="{group:'work-img'}" title="MY CV">
                <img src="../../assets/img/gab.jpg" alt="My CV">
              </a>
              <h3>MY CV</h3>
            </div>
          </a>
        </div>
        <div class="uk-grid-width-1-2@m" data-uk-grid="{gutter: 20}">
          <a href="https://github.com/hainabe/fitec-wiki" [target]="blank">
            <div class="work-item">
              <a href="../../assets/img/w-logo.jpg" data-uk-lightbox="{group:'work-img'}" title="WICKED WIKI">
                <img src="../../assets/img/w-logo.jpg" alt="Wicked Wiki">
              </a>
              <h3>WICKED WIKI</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Work End-->
