<!-- Profile Start-->
<section class="tc-profile sec-spacer sec-color">
  <div class="uk-container-center uk-container">
    <div class="uk-grid" data-uk-margin="">
      <div class="uk-width-1-3@m">
        <div class="title1">
          <span>03</span>
          <h3>My Profile</h3>
        </div>
      </div>
      <!-- PERSONALITY -->
      <div class="uk-width-1-3@m">
        <div class="profile-desc">
          <h3 style="color: grey">Personnalité</h3>
          <div class="uk-margin-medium-top uk-container"><span class="">Curiosité</span>
            <div class="uk-align-right@m">
              <i uk-icon="star"></i><i uk-icon="star"></i><i uk-icon="star"></i><i uk-icon="star"></i>
            </div>
          </div>
          <div class="uk-container"><span>Esprit d'équipe</span>
            <div class="uk-align-right@m">
              <i uk-icon="star"></i><i uk-icon="star"></i><i uk-icon="star"></i>
            </div>
          </div>
          <div class="uk-container"><span>Assertivité</span>
            <div class="uk-align-right@m">
              <i uk-icon="star"></i><i uk-icon="star"></i><i uk-icon="star"></i><i uk-icon="star"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- LIKE & DISLIKE -->
      <div class="uk-width-1-3@m">
        <div class="profile-desc">
          <h3 style="color: grey">Like & Dislike</h3>
          <div class="uk-margin-medium-top uk-container"><span class="">Partage des connaissances</span>
            <div class="uk-align-right@m">
              <i uk-icon="star"></i><i uk-icon="star"></i><i uk-icon="star"></i><i uk-icon="star"></i>
            </div>
          </div>
          <div class="uk-container"><span>Outils rigides</span>
            <div class="uk-align-right@m">
              <i uk-icon="star"></i><i uk-icon="star"></i>
            </div>
          </div>
          <div class="uk-container"><span>Tâches répétitives</span>
            <div class="uk-align-right@m">
              <i uk-icon="star"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Profile End-->
