<!-- Profile Start-->
<section class="tc-profile sec-spacer sec-color">
  <div class="uk-container-center uk-container">
    <div class="uk-grid" data-uk-margin="">
      <div class="uk-width-1-3@m">
        <div class="title1">
          <span>03</span>
          <h3>My Profile</h3>
        </div>
      </div>
      <div class="uk-width-1-3@m">
        <div class="profile-desc">
          <p>Coming soon...</p>
        </div>
      </div>
      <div class="uk-width-1-3@m">
        <div class="profile-desc">
          <p>Coming soon...</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Profile End-->
